# APP CORE
ENV=development
DEBUG=true

# SECURITY
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# DATABASE
DATABASE_URL=postgresql://user:password@host:port/dbname

# PAYSTACK
PAYSTACK_SECRET_KEY=sk_test_your_key_here

# EMAIL (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
EMAIL_FROM=Simple Sales <your_email@gmail.com>

# PASSWORD RESET
PASSWORD_RESET_EXPIRE_MINUTES=30

# FRONTEND
FRONTEND_RESET_URL=https://your-frontend/reset-password









