# Requirements file for the project

fastapi
uvicorn
sqlalchemy
pydantic
python-jose
passlib[bcrypt]
python-multipart
openpyxl
psycopg2-binary
slowapi
pydantic-settings
email-validator
alembic
argon2-cffi
requests
